// --------------------------------------------------------------------------
//  Copyright 2017 Elegant Chaos Limited. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

#include "ECUnitTests.xcconfig"

INFOPLIST_FILE = Resources/ECLoggingTests.plist
SWIFT_OBJC_BRIDGING_HEADER = Source/Tests/ECLoggingTests-Bridging-Header.h
SWIFT_OPTIMIZATION_LEVEL = -Onone
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
